<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>test</title>
    <head>
    </head>
</head>
<body>
<div class="container">
    <div class="header">
        <h2>test</h2>
    </div>
    <form id="form" class="form" action="http://localhost:8080">
        <div class="form-control">
            <label for="username">name:</label>
            <input type="text" id="username"/>
            <small></small>
        </div>
        <div class="form-control">
            <label for="username">email:</label>
            <input type="email" id="email"/>
            <small></small>
        </div>
        <div class="form-control">
            <label for="username">password:</label>
            <input type="password" id="password"/>
            <small></small>
        </div>
        <button>join</button>
    </form>
</div>
<script>
    const form = document.querySelector('#form')
    const username = document.querySelector('#username')
    const email = document.querySelector('#email')
    const password = document.querySelector('#password')

    form.addEventListener('submit', (event)=>{
        event.preventDefault()

        checkInputs()
    })


    const checkInputs = ()=>{
        const  usernameValue = username.value.trim()
        const  emailValue = email.value.trim()
        const  passwordValue = password.value.trim()

        if (usernameValue === ""){
            setError(username,  "inter your username.")
        }else {
            setSuccess(username)
        }

        if (emailValue === ""){
            setError(email,  "inter your email.")
        }else {
            setSuccess(email)
        }

        const validRegex = /^[a-z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/;

        if (emailValue.match(validRegex)) {
            setError(email,"email is worrying")
        }else {
            setSuccess(email)
        }
    }

    const setError = (input,massage)=>{
        const formControl = input.parentElement
        const small =  formControl.querySelector("small")

        formControl.className =  "form-control error"
        small.innerText = massage
    }

    const setSuccess = (input)=>{
        const formControl = input.parentElement
        formControl.className = "form-control success"

    }
</script>
</body>
</html>